canvas {
    border: 1px solid red;
    background-image: url("../images/backgrounds/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.maps {
    padding-top: 50px;
}



body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    position: relative;
    display: inline-block;
    margin: 35px auto;
}

.wrapper-level1 a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper-level1 a span {
    position: relative;
    z-index: 2;
}

.wrapper-level1 a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: green;
    transition: all .35s;
}

.wrapper-level1 a:hover {
    color: #fff;
}

.wrapper-level1 a:hover:after {
    width: 100%;
}

.wrapper-level2 a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper-level2 a span {
    position: relative;
    z-index: 2;
}

.wrapper-level2 a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

.wrapper-level2 a:hover {
    color: #fff;
}

.wrapper-level2 a:hover:after {
    width: 100%;
}



/* buttons */
@-webkit-keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  @keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  body {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    font-family: sans-serif;
  }
  
  .my-btn {
    border: 2px solid #666;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: #fff;
    color: #666;
    border-radius: 6px;
    margin-bottom: 16px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }


  .my-btn:-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .my-btn--stripe {
    overflow: hidden;
    position: relative;
  }
  .my-btn--stripe:after {
    content: "";
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
  }
  .my-btn--stripe:hover {
    background-color: #666;
    color: #fff;
    border-color: #000;
  }
  .my-btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
            animation: stripe-slide 12s infinite linear forwards;
  }
  .my-btn--large {
    width: 50%;
  }
  .my-btn--radius {
    border-radius: 36px;
  }

.buttons{
    padding-top: 75px;
}